<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>
</head>
<body>

<ul>
    <li><a class="active" href="index.scala.html">Home</a></li>
    <li><a href="Profile.scala.html">Profile</a></li>
    <li><a href="Intarest.scala.html">Interest</a></li>
    <li><a href="Goal.scala.html">Goal</a></li>
    <li><a href="Local.scala.html">Local</a></li>
    <li><a href="project1.scala.html">Idol</a></li>
</ul>
<br>
<p align="center"><font size="+3">เจ้าของร้านเกมส์&เจ้าขของร้านเหล้าเล็กนั่งชิว</font>  </p><br>
<br>
<br>
<br>
เป็นร้านเกมส์เล็กๆ
<p><center><img src=@routes.Assets.at("images/12102819561ea0cb5c5ae7e971.jpg") width="800" height="450"></center></p> <br>
เปิดร้านนั่งชิวเล็ก เพราะฉันชอบส่วนตัว
<p><center><img src=@routes.Assets.at("images/Outdoor.jpg") width="800" height="450"></center></p> <br>
</body>
</body>
</html>