<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>-MY STORY-</title>
</head>
<body>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>
</head>
<body>

<ul>
    <li><a class="active" href="index.scala.html">Home</a></li>
    <li><a href="Profile.scala.html">Profile</a></li>
    <li><a href="Intarest.scala.html">Interest</a></li>
    <li><a href="Goal.scala.html">Goal</a></li>
    <li><a href="Local.scala.html">Local</a></li>
    <li><a href="project1.scala.html">Idol</a></li>
</ul>

</body>
</body>

<body bgcolor="#696969">

    <h2 align="center"> -MY STORY-</h2>

  <div align="center">
      <p><center><img src=@routes.Assets.at("19665124_273492913057994_1904290108414785677_n.jpg") width="800" height="450"></center></p>
  </div>



<h3>
ชื่อ นางสาวสุวนันท์ โพยนอก    ชื่อเล่น สะเนส <br>
เกิดวันที่ 13 พฤษจิกายน พ.ศ 2538<br>
สถานภาพ โสด <br>
ภูมิลำเนา บ้านเลขที่232 หมู่3 บ้านโสกรัง ตำบลศรีสุข อำเภอสีชมพู จังหวัดขอนแก่น รหัสไปรษณีย์ 40220<br>
สัญชาติ ไทย เชื้อชาติ ไทย ศาสนา พุทธ <br>
มีพี่น้อง3คน พี่ชาย 1 คน พี่สาว 1 คน เป็นบุตรคนที่ 3  <br>
ที่อยู่ปัจจุบัน บ้านเลขที่232 หมู่3 บ้านโสกรัง ตำบลศรีสุข อำเภอสีชมพู จังหวัดขอนแก่น รหัสไปรษณีย์ 40220  <br>
เบอรืโทรศัพน์ 0952377638  <br>
อีเมล์ suwananpaynok2538gmail.com  <br>
บิดาชื่อ นายทองใส โพยนอก ประกอบอาชีพ เกษตรกร <br>
มารดาชื่อ นางบุญชู โพยนอก ประกอบอาชีพ เกษตรกร  <br>
จบมาจาก โรงเรียนสีชมพูศึกษา<br>
ปัจจุบันกำลังศึกษาอยู่ที่ มหาวิทยาลัยเทคโนโลยีราชมงคนอีสาน วิทยาเขตขอนแก่น<br>
คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ<br>
สาขาวิชาระบบสารสนเทศทางคอมพิวเตอร์<br>
ความสามารถพิเศษ วาดรูป  <br>
คติประจำใจ หนึ่งครั้งที่ผิดพลาด คือฉลาดอีกเรื่องหนึ่ง  <br>
งานอิเรก อ่านการ์ตูน ดูหนัง ดูสารคดี  <br>
การ์ตูนที่ชอบ  ชินจังจอมแก่น  <br>
เพลงที่ชอบ เพลงเพื่อชีวิต  <br>
สีที่ชอบ สีฟ้า สีดำ สีเทา  <br>
อาหารที่ชอบ ขนมจีน ส้มตำ แกงน่อไม้ แกงเห็ด  <br>
ผลไม้ที่ชอบ มังคุด เงาะ ทุเรียน  <br>
เลี้ยงสุนัข 1ตัว ชื่อ มี่ <br>
</h3>


</body>

</html>