<!DOCTYPE html>
<html lang="en">
<head>
<body>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>

<body>

<ul>
    <li><a class="active" href="index.scala.html">Home</a></li>
    <li><a href="Profile.scala.html">Profile</a></li>
    <li><a href="Intarest.scala.html">Interest</a></li>
    <li><a href="Goal.scala.html">Goal</a></li>
    <li><a href="Local.scala.html">Local</a></li>
    <li><a href="project1.scala.html">Idol</a></li>
</ul>


</body>
<head>
    <meta charset="UTF-8">
    <title>_MY IDOL_</title>
</head>

<body bgcolor ="#696969" text="#FFFFFF" align="center">
<FONT SIZE=8>-MY IDOL-</FONT>
         <br>



<p><center><img src=@routes.Assets.at("images/p17iicteg73o313f123h4j78s85.jpg") width="800" height="450"></center></p>
<h1>-พงษ์สิทธิ์ คำภีร์-</h1><br><br><br>
ประวัติพงษ์สิทธิ์ คำภีร์<br>

พงษ์สิทธิ์ คำภีร์ พงษ์สิทธิ์เกิดเมื่อวันที่ 2 พฤศจิกายน พ.ศ. 2510 ที่ อำเภอเมือง จังหวัดหนองคาย มีชื่อเล่นว่า “ปู” โดยมีพ่อเป็นผู้ช่วยแพทย์ในโรงพยาบาล ที่อยู่ใกล้บ้าน
พงษ์สิทธิ์เรียนหนังสือจบจากภาคอีสานที่บ้าน ก็เดินทางเข้าสู่กรุงเทพมหานคร ด้วยความตั้งใจที่จะเป็นนักดนตรี
โดยมีนักดนตรีที่นับถือและชื่นชอบใน 2 คน คือ หงา คาราวาน (สุรชัย จันทิมาธร) และ เล็ก คาราบาว (ปรีชา ชนะภัย) ในระยะแรกได้ร่วมงานกับคาราวานโดยเป็นนักดนตรีในวง
จนในที่สุดก็ได้ออกอัลบั้มชุดแรกในปี พ.ศ. 2530 ชื่อชุด “ถึงเพื่อน” กับบริษัทบัฟฟาโล เฮด ที่มีสมาชิกของวงดนตรีคาราบาว เป็นผู้ดูแล
งานชุดนี้ไม่ถือว่าประสบความสำเร็จเท่าไหร่นัก แต่ก็มีเพลงฮิตอย่าง ถึงเพื่อน… ที่ถูกเปิดให้ได้ยินกันบ่อย ๆ ในยุคนั้น
<br>
<br>
<font size="5">ผลงานเพลง</font><br>
อัลบั้มภาคปกติ <br>
ถึงเพื่อน <br>
เสือสิบเอ็ดตัว <br>
บันทึกการเดินทาง <br>
มาตามสัญญา <br>
อยู่ตรงนี้ <br>
เราจะกลับมา <br>
อยากขึ้นสวรรค์ <br>
เส้นทางสายเก่า <br>
คำนึงถึงบ้าน <br>
สุดใจฝัน <br>
สมชายดี <br>
ชีวิตยังมีหวัง <br>
ใต้ดวงตะวัน <br>
สามัญชน<br>
ประชาชนเต็มขั้น<br>
บันทึกคนบนถนน<br>
วันใหม่<br>
ฯลฯ
<br>

</body>

</body>
</html>